body {
    margin: 0;
    background-color: #f1f1f1;
}

p {
   font-family: helvetica;
    font-size: 1rem; 
}
.splash {
    max-width: none;
    width: 100%;
    z-index: 1;
}


header img {
    width: 30%;
    margin-left: 4vw; 
    margin-top: 3vw;
    padding-bottom: 5vw; 
}

header nav {
    float: right; 
    margin-top: 7vw;
    margin-right: 3vw;       
}

header { 
  background-color: #fafafa;
    position: relative;
}

#menu a {
    text-decoration: none; 
    margin-right: 2vw; 
    color: #3f3fe6;
    font-family: helvetica;
    font-size: 1rem;
    display: inline-block; 
}

#menu a:hover {
    color: #b44647;
}

.forside {
    background-color: #fafafa;
        height: 55vw; 
    background-image: url("materiale/splashbillede.jpg");
        background-size: 100%;
    background-repeat: no-repeat;
}

.citat {
    margin: 10vw;
    text-align: center;
}

.citat p {
    font-family: helvetica;
    font-style: italic;
}
  
.billede_forside img {
    width: 100%;
    margin: 0; 
    padding: 0;
   
}
    
footer {
    background-color: #f4d7d7; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
}
h5 {
    font-family: helvetica;
    font-size: 1rem;
}

h2 {
    font-family: helvetica;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
footer p {
    font-size: 0.7rem;
}

footer div {
    margin-right: 60px; 
}



.menu-button img{
    width: 30px;;
    float: right;
    top: -10px;
     margin-top: -12vw;
    margin-right: 30px;
   
}
.hide {
    visibility: hidden;
}

.billede_forside {
    margin: 0; 
    padding: 0;
}

/** MENU SIDE **/

        #liste {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 10px 50px 10px 50px;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
/*
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
*/
        }

         .ret {
        
            
            
        }

        .retter:nth-child(odd) {
            background-color: lightgray;
        }


        .knapper {
            display: flex;
            justify-content: center;
             margin-top: 20px;
            
        }

            .filter {
            background: none; 
            border: none;
            font-family: helvetica;
            font-size: 1rem;
            text-transform: lowercase;
                margin-left: 1vw;
                cursor: pointer;
            
            }

.filter:hover {
    color: #3f3fe6
}
        .valgt {
            color: #3f3fe6;
        }


        #popup {
            width: 60vw;
            height: 90vh;
            position: fixed;
            background-color: #f1f1f1;
            display: none;
            left: 20vw;
            top: 2vw;
            z-index: 1;
        }

        #indhold {
            box-sizing: border-box;
            width: 55vw;
            height: 80vh;
            margin: auto;
        }

        #luk {
            box-sizing: border-box;
            text-align: right;
            padding-right: 1em;
            
        }
#luk img {
    width: 20%;
}

#luk button {
     font-size: 1em;
    background: none; 
            border: none;
}

.ret img {
    width: 80%;
    display: block;
    margin: auto;
}

.knapper {
    position: absolute;
    bottom: 0;
    right: 2vw;
}

article.ret {
    
}

/** OVERLAY **/



@media only screen and (min-width:910px) {
    .menu-button {
        display: none;
    }
    #menu.hide {
        visibility: visible;
    }

}

@media only screen and (max-width:910px) {
    header {
        height: 100px;
    }
    .logo {
        width: 30vw;
    }
    .filter {
        margin: auto;
    }
    #menu a {
        display: block;
        text-align: right;
        margin-bottom: 1rem;
        background-color: white;
        background-opacity: 0.5;
    }
}


