body {
    margin: 0;
    background-color: #f1f1f1;
}

p {
   font-family: helvetica;
    font-size: 0.9rem; 
    line-height: 1.6;
}
.splash {
    max-width: none;
    width: 100%;
    z-index: 1;
}


header img {
    width: 30%;
    margin-left: 4vw; 
    margin-top: 3vw;
    padding-bottom: 5vw; 
}

header nav {
    float: right; 
    margin-top: 7vw;
    margin-right: 3vw;       
}

header { 
  background-color: #fafafa;
    position: relative;
    
}

h5 {
    font-family: helvetica;
    font-size: 0.5rem;
    font-weight: 500;
    margin: 0;
    
}

#menu a {
    text-decoration: none; 
    margin-right: 2vw; 
    color: #3f3fe6;
    font-family: helvetica;
    font-size: 1rem;
    display: inline-block;
    margin-top: 0.9vw;
}


#menu a:hover {
    color: #b44647;
}

.forside {
    background-color: #fafafa;
        height: 55vw; 
    background-image: url("materiale/splashbillede.jpg");
        background-size: 100%;
    background-repeat: no-repeat;
}

.citat {
    margin: 10vw;
    text-align: center;
    font-size: 1.5rem;
    color: #0c0c0c;
    font-style:italic;
}

.citat p {
    font-family: helvetica;
    font-style: italic;
}
  
.billede_forside img {
    width: 100%;
    margin: 0; 
    padding: 0;
   
   
}
 
footer {
    background-color: #f4d7d7; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
}
h5 {
    font-family: helvetica;
    font-size: 1rem;
}

h2 {
    font-family: helvetica;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
}
footer p {
    font-size: 0.7rem;
     
}
footer p {
    margin-left: 2.2vw;
    margin-right: 10vw;
}

footer h5 {
    margin-left: 2.2vw;
    margin-right: 10vw;
}

.menu-button img{
    width: 35px;
    float: right;
    top: -10px;
    margin-top: -12vw;
    margin-right: 30px;
   
}
.hide {
    visibility: hidden;
}

.billede_forside {
    margin: 0; 
    padding: 0;
}



/** MENU SIDE **/

        #liste {
            display: grid;
            margin: 10px 50px 10px 50px;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    
        }


        .knapper {
            display: flex;
            justify-content: center;
             margin-top: 20px;
            
        }

            .filter {
            background: none; 
            border: none;
            font-family: helvetica;
            font-size: 1rem;
            text-transform: lowercase;
            margin-left: 1vw;
            cursor: pointer;
            }

.filter:hover {
    color: #3f3fe6
}
        .valgt {
            color: #3f3fe6;
        }


        #popup {
            width: 60vw;
            height: 50vw;
            position: fixed;
            background-color: #f1f1f1;
            display: none;
            left: 20vw;
            top: 2vw;
            z-index: 1;
        }

#indhold {
            box-sizing: border-box;
            width: 55vw;
            height: 80vh;
            margin: auto;
        }

        #luk {
            box-sizing: border-box;
            text-align: right;
            padding-right: 1em;
            
        }
#luk img {
    width: 20%;
   
}

#luk button {
     font-size: 1em;
    background: none; 
        border: none;
    margin: 1vw -2.7vw -1vw 0;
}

.ret img {
    width: 80%;
    display: block;
    margin: auto;
}
#indhold .ret img {
    width: 50%;
    float: right;
}

.knapper {
    position: absolute;
    bottom: 0;
    right: 2vw;
}

.ret {
    margin: auto;
}

/* CONTACT **/

.container_about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.contact {
   margin: 2vw 8vw 2vw 3vw;
}
.book {
    text-align: center;
    padding: 0.6vw 5vw 3vw 5vw;
    background-color: #fafafa;
    margin: 3vw 5vw 3vw 0; 
    
}
.book p {
    margin-bottom: 3vw;
}
.book a {
    background-color: #0c0c0c;
    padding: 7px;
    font-family: helvetica;
    text-decoration: none;
    color: #fafafa;
    font-weight: 100;
    font-size: 0.7rem;
}

/* RESERVATION **/

.bookbutton a {
    background-color: #0c0c0c;
     padding: 7px;
    font-family: helvetica;
    text-decoration: none;
    color: #fafafa;
    font-weight: 100;
    font-size: 0.7rem;
}
.bookbutton {
    padding: 3vw 5vw 3vw 5vw;
    margin: 0 5vw 3vw 0; 
}

input {
    padding: 7px;
    font-family: helvetica;
    text-decoration: none;
    color: #0c0c0c;
    margin: 2vw 0 1vw 0;
        
}

.formgroup h5 {
    margin: 3vw 0 1vw 0;
}

input a {
font-family: helvetica;
font-weight: 100;
    font-size: 0.7rem;
}
.formgroup {
    margin-left: 5vw
}

.overskrift_reservation {
    text-align: left;
    margin: 3vw 0 1vw 5vw;
    font-weight: 500;
}

.om {
    margin: 3vw 40vw 3vw 4vw;
}

@media only screen and (min-width:910px) {
    .menu-button {
        display: none;
    }
    #menu.hide {
        visibility: visible;
    }

}

@media only screen and (max-width:910px) {
    header {
        height: 100px;
    }
    .logo {
        width: 40vw;
    }
    .filter {
        margin: auto;
    }
    #menu a {
        display: block;
        text-align: right;
        margin-bottom: 1rem;
    }
    #menu {
        background-color: rgba(250, 250, 250, 0.4);
        margin-top: -1vw;
        padding-top: 1vw;
        position: absolute;
        right: 0;
        top: 14.1vw;
       
    }
    .menu-button img {
        margin-right: 4vw;
    }
    .contact {
        margin: 5vw 4vw 5vw 4vw; 
    }
    .book {
        margin: 5vw 0 8vw 0;
        padding: 2vw 7vw 8vw 7vw;
    }
    
     #popup {
         justify-content: center;
        padding: 0vw;
        margin-left: -10vw;
         width: 80vw;
         height: 70vw;
         
        }

    #liste {
        margin: 0;   
        padding: 0;
    }
    #indhold {
        margin: 5vw 0 0 10vw;
    }

    .knapper {
        right: 6vw;
    }
   
    #luk button {
         top: 0;
    }
    .om {
    margin: 2vw 7vw 2vw 7vw;
}
}


